* {
    margin: 0;
    padding: 0;
    font-family: Roboto, Helvetica, sans-serif;
}

body {
    max-width: 1400px;
    background-color: #dae9ff;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

button {
    background-color: #3882F6;
    padding: 8px 24px;
    border: none;
    border-radius: 8px;
    font-weight: bold;
}

.textstyle-small {
    font-size: 18px;
    color: #E5E7EB;
}

/* HEADER */
.header {
    padding: 20px 200px;
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
    flex: none;
    padding-right: 24px;
}

.header-links {
    list-style-type: none;
    display: flex;
    gap: 24px;
}

.header-links a {
    text-decoration: none;
}

/* HERO SECTION */
.hero-section {
    padding: 100px 200px;
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 28px;
}

.hero-left * {
    margin-bottom: 12px;
}

.hero-left h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.hero-right {
    height: 250px;
    width: 500px;
    background-color: rgb(110,116,124);
    flex: none;
    display: flex;
    justify-content: center;
    align-items: center;
}