* {
    margin: 0;
    padding: 0;
    font-family: Roboto, Helvetica, sans-serif;
}

body {
    max-width: 1400px;
    background-color: #dae9ff;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

button {
    background-color: #3882F6;
    padding: 8px 24px;
    border: none;
    border-radius: 8px;
    font-weight: bold;
}

.textstyle-small {
    font-size: 18px;
    color: #E5E7EB;
}

/* HEADER */

.header {
    padding: 20px 200px;
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
    flex: none;
    padding-right: 24px;
}

.header-links {
    list-style-type: none;
    display: flex;
    gap: 24px;
}

.header-links a {
    text-decoration: none;
}

/* HERO SECTION */

.hero-section {
    padding: 100px 200px;
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 28px;
}

.hero-left * {
    margin-bottom: 12px;
}

.hero-left h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.hero-right {
    height: 250px;
    width: 500px;
    background-color: rgb(110,116,124);
    flex: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* INFO SECTION */

.info-section {
    padding: 50px 200px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.info-section h1 {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.info-images {
    display: flex;
    flex-wrap: nowrap;
    gap: 50px;
}

.info-image {
    width: 175px;
    flex: none;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.info-image p {
    text-align: center;
    color: #1F2937
}

.rounded-rect {
    width: 175px;
    height: 175px;
    border-style: solid;
    border-width: 4px;
    border-color: #3882F6;
    border-radius: 12px;
}

/* QUOTE SECTION */

.quote-section {
    padding: 100px 200px;
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quote {
    max-width: 800px;
    display: flex;
    flex-direction: column;
}

.quote-text {
    max-width: 800px;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
}

.quote-sign {
    max-width: 800px;
    font-size: 20px;
    font-weight: bold;
    align-self: flex-end;
    padding-right: 75px;
}